.App {
  text-align: center;
}

form{
  display: inline-block;
  padding: 20px;
  background-color: aqua;
}

form label{
  display: inline-block;
  width: 100px;

}

form div{
  margin: 15px;
}
.profilePicPreview{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  object-fit: contain;
}